<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
</head>
<body>
    <h1>{{user.full_name}}</h1>
    <h1>Create Post</h1>
    <form method="POST">
        <div>
            <div>
                <label for="title">Title</label>
                <input type="text" placeholder="Title" id="title" name="title">
            </div>
            <div>
                <label for="content">Content</label>
                <textarea type="text" id="content" name="content" placeholder="Post Here..."></textarea>
            </div>
            <div>
                {% for tag in tags %}
                <input type="checkbox" value="{{tag.id}}" id="tag_{{tag.id}}" name="tags">
                <label for="tag_{{tag.id}}">{{tag.tag_name}}</label>
                {% endfor %}
            </div>
        </div>
        <div>
            <a href="/users/{{ user.id }}">Back</a>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>